html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: #495057;
    margin-bottom: 60px;
    /*    background-image: url("paper.gif");*/
    /*    background-image: url("../images/Home-Page-Image.jpg");
    background-color: #c9d6dd;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 

*/
}

.example1 {
    /*    background: url("../images/Home-Page-Image.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c9d6dd;
    width: 100%;
    height: auto;
    overflow: hidden;
/*    opacity: 0.6;*/
    border-radius: 8px;
    margin-top:15px;
}

a {
    color: #0098C5;
    text-decoration: none;
}

.btn-primary {
    background-color: #0098C5;
}

.btn-secondary {
    background-color: #495057;
}

.btn-success {
    background-color: #B7CB34;
    border-color: #B7CB34;
}

.footer {
    background-color: #2e3235;
}

nav-link {
    font-size: 16px;
}
