@{
    ViewData["Title"] = "Tracking Status of Application";
}

<h2 class="text-center mt-4 mb-4">Tracking Status of Application</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Application Number</th>
            <th>Name and Surname</th>
            <th>Name of Application</th>
            <th>Type of Licence</th>
            <th>Status of Application</th>
            <th>Number of Days</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2 June 2025</td>
            <td>APP-005</td>
            <td>Cynthia Gladys</td>
            <td>Cynthia’s Street Stall</td>
            <td>Hawking Business Licence</td>
            <td>Submitted</td>
            <td>48</td>
            <td>Environmental Health</td>
        </tr>
        <tr>
            <td>9 June 2025</td>
            <td>APP-005</td>
            <td>Cynthia Gladys</td>
            <td>Cynthia’s Street Stall</td>
            <td>Hawking Business Licence</td>
            <td>Payment processed</td>
            <td>24</td>
            <td>Finance Department</td>
        </tr>
        <tr>
            <td>19 June 2025</td>
            <td>APP-005</td>
            <td>Cynthia Gladys</td>
            <td>Cynthia’s Street Stall</td>
            <td>Hawking Business Licence</td>
            <td>Approved</td>
            <td>0</td>
            <td>Landuse</td>
        </tr>
       
    </tbody>
</table>
