@{
    ViewData["Title"] = "Business Licence Hackathon";
}

<div class="text-center mt-5">
    <h1 class="display-6">Welcome to the Business Licence Portal</h1>
    <p class="lead">How can we assist you today?</p>

    <div class="d-flex justify-content-center flex-wrap mt-4">
        <a class="btn btn-warning m-2" href="/Forms/Apply">Apply</a>
        <a class="btn btn-primary m-2" href="/Forms/View">View Application Forms</a>
        <a class="btn btn-secondary m-2" href="/Tracking/Status">Tracking Application Status</a>
        <a class="btn btn-success m-2" href="/Payment/Make">Make Payment</a>
    </div>

    <div class="mt-5">
        <a href="/Help" class="me-3">Help</a>
        <a href="/Language/Change" class="me-3">Change Language</a>
        <a href="/FAQ">Frequently Asked Questions</a>
    </div>
</div>
