@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>About</p>
<p>Protection of Personal Information Act (POPIA)</p>
<p>This privacy notice sets out how the City of Cape Town uses and protects any information that you give the City when you use this website or subscribe to our communications.</p>

<p>The City of Cape Town is committed to ensuring that your privacy is protected in accordance with the Protection of Personal Information Act (POPIA). Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used for the purposes specified.</p>

<p>The City may change this policy from time to time by updating this page. You should check this page periodically to ensure that you are happy with any changes. This policy is effective from 1 July 2021.</p>

<p>Promotion of Access to Information Act (PAIA)</p>
    The Promotion of Access to Information Act 2 of 2000 (PAIA) is one of the key national laws that the City of Cape Town must comply with.</p>

<p> Section 32 of the Constitution guarantees everyone’s right of access to information held by the state, and PAIA has been enacted to give effect to this right.</p>

<p>
    The motivation for giving effect to the right to access to information is to foster a culture of transparency and accountability, both in public and private bodies, and to promote a society in which the people of South Africa have effective access to information to enable them to more fully exercise and protect all their rights.</p>

<p>As a responsible party, the City must maintain the documentation of all processing operations under its responsibility in the PAIA Manual as referred to in section 14 of PAIA.</p>
