@* @{ *@
@*     ViewData["Title"] = "Privacy Policy"; *@
@* } *@
@* <h1>@ViewData["Title"]</h1> *@

<div style="text-align: center; max-width: 800px; margin: 0 auto;">
    <br />
    <p><strong>Protection of Personal Information Act (POPIA)</strong></p>
    <p>
        This privacy notice sets out how the City of Cape Town uses and protects any information that you provide when using this website or subscribing to our communications.
    </p>

    <p>
        The City of Cape Town is committed to protecting your privacy in accordance with the Protection of Personal Information Act (POPIA). Should we request personal information that identifies you while using this website, you can be assured it will only be used for the purposes stated.
    </p>

    <p>
        The City may update this policy periodically. You are encouraged to review this page from time to time to stay informed of any changes. This policy is effective from 1 July 2021.
    </p>

    <p><strong>Promotion of Access to Information Act (PAIA)</strong></p>
    <p>
        The Promotion of Access to Information Act 2 of 2000 (PAIA) is a key piece of national legislation that the City of Cape Town adheres to.
    </p>

    <p>
        Section 32 of the Constitution guarantees everyone the right of access to information held by the state. PAIA was enacted to give effect to this right.
    </p>

    <p>
        The purpose of this legislation is to foster a culture of transparency and accountability in both public and private bodies, and to promote a society in which all South Africans can effectively access information to fully exercise and protect their rights.
    </p>

    <p>
        As a responsible party, the City is required to document all processing operations under its responsibility in a PAIA Manual, as outlined in Section 14 of PAIA.
    </p>
</div>
